<%= form_for(@user) do |f| %>	

	<div class="email-field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div class="pw-field">
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<div class="pw-confirmation-field">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="submit-field">
		<%= f.submit %>
	</div>
<% end %>	